.vscode/
20200312-djangogirlstutorials/.vscode/
20200312-djangogirlstutorials/blog/__pycache__/*.pyc
20200312-djangogirlstutorials/blog/migrations/__pycache__/*.pyc
20200312-djangogirlstutorials/mysite/__pycache__/*.pyc
20200508_typinghint/__pycache__/*.pyc
20200513_environ/__pycache__/*.pyc
20200705_pythonRestAPI_sample/__pycache__/*.pyc