.vscode/
20200312-djangogirlstutorials/.vscode/
20200312-djangogirlstutorials/blog/__pycache__/*.pyc
20200312-djangogirlstutorials/blog/migrations/__pycache__/*.pyc
20200312-djangogirlstutorials/mysite/__pycache__/*.pyc
20200508_typinghint/__pycache__/*.pyc
20200513_environ/__pycache__/*.pyc
20200705_pythonRestAPI_sample/__pycache__/*.pyc
20200718_specialmethod/__pycache__/*.pyc
20200924_pdfload/venv/Include/*
20200924_pdfload/venv/Lib/*
20200924_pdfload/venv/Scripts/*
20200924_pdfload/venv/downloaded/*.xlsx
20200924_pdfload/.vscode/*
20200924_pdfload/venv/source/__pycache__/*.pyc
20210127_fastAPISample/fastAPI/Include/*
20210127_fastAPISample/fastAPI/Lib/*
20210127_fastAPISample/fastAPI/source/__pycache__/*.pyc
20210127_fastAPISample/fastAPI/Scripts/*
20210204_fastAPI/FastAPISample/Include/*
20210204_fastAPI/FastAPISample/Lib/*
20210204_fastAPI/FastAPISample/Sources/__pycache__/*.pyc
20210204_fastAPI/FastAPISample/Scripts/*
20210506_connpass-api/json/*.json
20210518_gcpstudy/fastapi_gae/gae/__pycache__/*.pyc
20210518_gcpstudy/fastapi_gae/gae/Include/*
20210518_gcpstudy/fastapi_gae/gae/Lib/*
20210518_gcpstudy/fastapi_gae/gae/Scripts/*
20210526_typescript_practice/list-app/node_modules/
20210529_CSharpePractice/ConsoleApp/obj
20210529_CSharpePractice/ConsoleApp/bin/Debug/netcoreapp3.1
20211022_streamlit_start/.idea
20211022_streamlit_start/streamlit-apptest/etc/*
20211022_streamlit_start/streamlit-apptest/Include/*
20211022_streamlit_start/streamlit-apptest/Lib/*
20211022_streamlit_start/streamlit-apptest/Scripts/*
20211022_streamlit_start/streamlit-apptest/share/*
20220907_FastAPI_Practice/venv/*
Include/*
Lib/*
Scripts/*
*.pyc
node_modules/