20200312-djangogirlstutorials/.vscode/launch.json
20200312-djangogirlstutorials/.vscode/settings.json
20200312-djangogirlstutorials/blog/__pycache__/__init__.cpython-36.pyc
20200312-djangogirlstutorials/blog/__pycache__/admin.cpython-36.pyc
20200312-djangogirlstutorials/blog/__pycache__/apps.cpython-36.pyc
20200312-djangogirlstutorials/blog/__pycache__/models.cpython-36.pyc
20200312-djangogirlstutorials/blog/migrations/__pycache__/__init__.cpython-36.pyc
20200312-djangogirlstutorials/blog/migrations/__pycache__/0001_initial.cpython-36.pyc
20200312-djangogirlstutorials/mysite/__pycache__/__init__.cpython-36.pyc
20200312-djangogirlstutorials/mysite/__pycache__/settings.cpython-36.pyc
20200312-djangogirlstutorials/mysite/__pycache__/urls.cpython-36.pyc
20200312-djangogirlstutorials/mysite/__pycache__/wsgi.cpython-36.pyc
