asttokens==2.0.4
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
executing==0.5.4
icecream==2.0.0
idna==2.10
Pygments==2.7.4
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
urllib3==1.25.10
