asttokens==2.0.4
autopep8==1.5.6
certifi==2023.7.22
chardet==3.0.4
colorama==0.4.4
executing==0.5.4
flake8==3.9.1
freezegun==1.1.0
icecream==2.0.0
idna==2.10
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.15.0
python-dateutil==2.8.1
requests==2.31.0
six==1.15.0
toml==0.10.2
urllib3==1.26.18
xlrd==1.2.0
